{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}
{% trans "Dr Lekamya Ngambi Ben-Ido | Médecin au Tchad – Prévention & Conseils Santé " %}
{% endblock title %}

{% block meta_description %}
{% trans "Site officiel du Dr Lekamya Ngambi Ben-Ido, médecin au Tchad. Conseils santé, prévention et blog médical pour l’Afrique." %}
{% endblock meta_description %}  

{% block style %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/articles_home.css' %}">
{% endblock style %}
{% block content %}


<main class="main">
   <!--==================== HOME ====================-->
   <section class="home section">
      <div class="home__rectangle"></div>

      <div class="home__container container grid">
         <div class="home__title-block">
            <h1 class="home__name">Dr Lekamya Ngambi Ben-Ido</h1>
            <h2 class="home__profession">{% trans "Médecin Généraliste" %}</h2>
         </div>

         <div class="home__photo-block">
            <div class="home__perfil perfil">
               <div class="perfil__content">
                  <img src="{% static 'images/dr.jpg' %}" alt="image" class="perfil__img">
               </div>
            </div>

            <div class="home__social">
               <a href="https://twitter.com/@BenNgambi20" target="_blank" class="home__social-link">
                  <i class="ri-twitter-x-line"></i>
               </a>

               <a href="https://www.linkedin.com/in/ben-ido-lekamya-ngambi-511b82310?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                  target="_blank" class="home__social-link">
                  <i class="ri-linkedin-box-fill"></i>
               </a>

               <a href="https://www.youtube.com/@ben-idoLekamyaNgambi" target="_blank" class="home__social-link">
                  <i class="ri-youtube-fill"></i>
               </a>
            </div>
         </div>

         <div class="home__presentation">
            <h3 class="home__presentation-title">{% trans "Présentation" %}</h3>
            <p class="home__presentation-text">
               {% trans "Je suis Lekamya Ngambi Ben-ido, diplômé en Médecine générale humaine en 2024, Doctorat d'État, Faculté de Médecine/Université Adam Barka d'Abéché." %}
               <br>
               {% trans "Centres d'intérêt : " %}<b>{% trans "l'art, la poésie et la philosophie." %}</b>
            </p>

            <h3 class="home__presentation-title">{% trans "Vision" %}</h3>
            <p class="home__presentation-text">
               {% trans "Rendre accessible la compréhension des problèmes de santé récurrents et les questions d'ordre général sur des sujets particuliers." %}
            </p>
         </div>
      </div>

   </section>

   <!--==================== ACTIVITIES ====================-->
   <section class="activities section" id="activites">
      <h2 class="section__title">
         {% trans "Nos" %} <br>
         {% trans "Activités" %}
      </h2>

      <div class="activities__container container grid">
         <article class="activities__card">
            <i class="ri-group-line activities__icon"></i>
            <h2 class="activities__title">{% trans "Sensibilisation Communautaire" %}</h2>
            <p class="activities__description">
               {% trans "Sensibiliser la population sur des sujets médicaux d'ordre public, informer et vulgariser la connaissance médicale sur des thèmes récurrents de santé, conseiller et contribuer au renforcement de la compréhension des problèmes de santé." %}
            </p>
         </article>

         <article class="activities__card">
            <i class="ri-graduation-cap-line activities__icon"></i>
            <h2 class="activities__title">{% trans "Formations et Ateliers" %}</h2>
            <p class="activities__description">
               {% trans "En partenariat avec des organismes sur place sur des thématiques importantes et d'usage public." %}
            </p>
         </article>

         <article class="activities__card">
            <i class="ri-discuss-line activities__icon"></i>
            <h2 class="activities__title">{% trans "Exposé-Débat et Partages" %}</h2>
            <p class="activities__description">
               {% trans "Discussion ouverte sur des thèmes de santé publique." %}
            </p>
         </article>
      </div>
   </section>

   <!--==================== DISCLAIMER ====================-->
   <section class="disclaimer section" id="disclaimer">
      <div class="disclaimer__container container">
         <h2 class="section__title">
            {% trans "Clause de" %} <br>
            {% trans "Non Responsabilité" %}
         </h2>
         <p class="disclaimer__text">
            {% trans "Les informations fournies sur ce site sont a titre informatif et ne remplacent en aucun cas une consultation medicale professionnelle. Le Dr Lekamya Ngambi Ben-Ido decline toute responsabilite quant a l'usage qui pourrait en etre fait sans avis medical prealable." %}
         </p>
      </div>
   </section>

</main>
{% endblock content %}